body{
    font-family: montserrat;
}
nav{
    background: orange;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 70px;
    font-weight: bold;
}
nav ul{
    
    float: right;
    margin-right: 50px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 10px;
}

a.active,a:hover{
    background: #0fbd3b;
    transition: .5s;
}
section{
    width: 100%;
    height: 60vh;
    background: url(img.jpg);
    background-size: cover;
    background-position: center;
}
.photo{
    width: 280px;
    height: 250px;
    clip-path: circle();
}
.button{
    background: rgb(186, 224, 97);
    tab-size: 10px;
    border-radius: 100px;
}
.progress{
    border-radius: 20px;
}
.about1{
    width: 100%;
    height: 60vh;
    background: url(img3.jpg);
    background-size: cover;
    background-position: center;
}
.button1{
    background: rgb(186, 224, 97);
    tab-size: 30px;
    border-radius: 100px;
}
.foot{
    background-color: rgb(245, 149, 39);
    border-radius: 25px;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}
.button4{
  background: rgb(25, 159, 221);
    tab-size: 40px;
   
}




.skills1{
    width: 100%;
    height: 60vh;
    background: url(img5.jpg);
    background-size:cover;
    background-position: center;   
}
.button2{
    background: rgb(9, 236, 217);
    tab-size: 30px;
    border-radius: 10px;
}
.skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 85%;
  }
  .bar .progress-line.php span{
    width: 70%;
  }
  .bar .progress-line.css span{
    width: 80%;
  }
  .bar .progress-line.java span{
    width: 65%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "85%";
  }
  .progress-line.php span::after{
    content: "70%";
  }
  .progress-line.css span::after{
    content: "80%";
  }
  .progress-line.java span::after{
    content: "65%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }

  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.Communication span{
    width: 85%;
  }
  .bar .progress-line.learning span{
    width: 95%;
  }
  .bar .progress-line.timemanagment span{
    width: 85%;
  }
  .bar .progress-line.designing span{
    width: 90%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.Communication span::after{
    content: "85%";
  }
  .progress-line.learning span::after{
    content: "95%";
  }
  .progress-line.timemanagment span::after{
    content: "85%";
  }
  .progress-line.designing span::after{
    content: "90%";
  }
  




.contact1{
    width: 100%;
    height: 60vh;
    background: url(img6.jpg);
    background-size: cover;
    background-position: center;   
}
.button3{
    background: rgb(154, 248, 2);
    tab-size: 30px;
    border-radius: 10px;
}
.msg{
    width: 40%;
    background: wheat;
    border-radius: 25px;
}
.social{
    background-color: rgb(207, 74, 207);
    border-radius: 25px;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}